## Limpieza de dataframes

### 1. Category

In [1]:
#Cargar dataset
import pandas as pd
category=pd.read_csv('DIM_CATEGORY.csv')
category

   ID_CATEGORY                        CATEGORY
0            1  FABRIC TREATMENT and SANIT\r\n
1            2                       AIR CARE
2            3                    LAVAVAJILLAS
3            4                MEGA SUPERFICIES
4            5             LAVATORY CARE & BRC

In [2]:
category.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID_CATEGORY  5 non-null      int64
 1   CATEGORY     5 non-null      object
dtypes: int64(1), object(1)
memory usage: 212.0+ bytes

In [3]:
#Conversión de datos a tipo 'cadena'
category['CATEGORY']=category['CATEGORY'].astype('string')

In [4]:
category.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID_CATEGORY  5 non-null      int64
 1   CATEGORY     5 non-null      string
dtypes: int64(1), string(1)
memory usage: 212.0 bytes

### 2. Sales

In [2]:
sales=pd.read_csv('FACT_SALES.csv')
sales

,WEEK,ITEM_CODE,TOTAL_UNIT_SALES,TOTAL_VALUE_SALES,TOTAL_UNIT_AVG_WEEKLY_SALES,REGION
0,34-22,7501058792808BP2,0.006,0.139,1.000,TOTAL AUTOS AREA 5
1,34-22,7501058715883,0.487,116.519,2.916,TOTAL AUTOS AREA 5
2,34-22,7702626213774,1.391,68.453,5.171,TOTAL AUTOS AREA 5
3,34-22,7501058716422,0.022,1.481,1.833,TOTAL AUTOS AREA 5
4,34-22,7501058784353,2.037,182.839,5.375,TOTAL AUTOS AREA 5
...,...,...,...,...,...,...
121997,26-23,7501058792778BP1,1.192,150.829,4.000,TOTAL AUTOS SCANNING MEXICO
121998,26-23,7501058757630,1.947,235.416,2.797,TOTAL AUTOS SCANNING MEXICO
121999,26-23,7501058753441,18.013,429.289,9.102,TOTAL AUTOS SCANNING MEXICO
122000,26-23,7702626204208BP1,21.152,210.276,22.172,TOTAL AUTOS SCANNING MEXICO
122001,26-23,7501058784346,1.468,301.973,2.068,TOTAL AUTOS SCANNING MEXICO

In [6]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122002 entries, 0 to 122001
Data columns (total 6 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   WEEK                         122002 non-null  object
 1   ITEM_CODE                    122002 non-null  object
 2   TOTAL_UNIT_SALES             122002 non-null  float64
 3   TOTAL_VALUE_SALES            122002 non-null  float64
 4   TOTAL_UNIT_AVG_WEEKLY_SALES  122002 non-null  float64
 5   REGION                       122002 non-null  object
dtypes: float64(3), object(3)
memory usage: 5.6+ MB

In [3]:
sales['WEEK']=sales['WEEK'].astype('string')
sales['ITEM_CODE']=sales['ITEM_CODE'].astype('string')
sales['REGION']=sales['REGION'].astype('string')

In [8]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122002 entries, 0 to 122001
Data columns (total 6 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   WEEK                         122002 non-null  string
 1   ITEM_CODE                    122002 non-null  string
 2   TOTAL_UNIT_SALES             122002 non-null  float64
 3   TOTAL_VALUE_SALES            122002 non-null  float64
 4   TOTAL_UNIT_AVG_WEEKLY_SALES  122002 non-null  float64
 5   REGION                       122002 non-null  string
dtypes: float64(3), string(3)
memory usage: 5.6 MB

In [9]:
sales.isnull().sum()

WEEK                           0
ITEM_CODE                      0
TOTAL_UNIT_SALES               0
TOTAL_VALUE_SALES              0
TOTAL_UNIT_AVG_WEEKLY_SALES    0
REGION                         0
dtype: int64

In [10]:
print(sales.duplicated().sum())

0

In [4]:
# Se filtra el dataframe sin Región para ver qué filas se repiten
sales_duplicated=sales.loc[sales[['WEEK','ITEM_CODE','TOTAL_UNIT_SALES',
                       'TOTAL_VALUE_SALES','TOTAL_UNIT_AVG_WEEKLY_SALES']].duplicated()]
sales_duplicated

,WEEK,ITEM_CODE,TOTAL_UNIT_SALES,TOTAL_VALUE_SALES,TOTAL_UNIT_AVG_WEEKLY_SALES,REGION
1598,48-22,7501058715364,0.010,0.225,3.333,TOTAL AUTOS SCANNING MEXICO
1629,48-22,0046500729355,0.003,0.138,3.000,TOTAL AUTOS SCANNING MEXICO
2830,34-22,0741120000746,0.004,0.079,2.000,TOTAL AUTOS SCANNING MEXICO
2846,34-22,7501071901393,0.036,4.063,3.000,TOTAL AUTOS SCANNING MEXICO
3001,34-22,7501080952980,0.001,0.140,1.000,TOTAL AUTOS SCANNING MEXICO
...,...,...,...,...,...,...
121966,25-23,7501058796837,0.001,0.023,1.000,TOTAL AUTOS SCANNING MEXICO
121975,25-23,0046500022517,0.003,0.303,1.000,TOTAL AUTOS SCANNING MEXICO
121978,26-23,7501058794949BP1,0.001,0.043,1.000,TOTAL AUTOS SCANNING MEXICO
121980,26-23,7501058794956BP2,0.015,0.336,2.143,TOTAL AUTOS SCANNING MEXICO
121986,26-23,7501058715364,0.001,0.019,1.000,TOTAL AUTOS SCANNING MEXICO

In [5]:
# Duplicados del total de regiones
sales_region=sales_duplicated.loc[sales_duplicated['REGION']=='TOTAL AUTOS SCANNING MEXICO']
sales_region

,WEEK,ITEM_CODE,TOTAL_UNIT_SALES,TOTAL_VALUE_SALES,TOTAL_UNIT_AVG_WEEKLY_SALES,REGION
1598,48-22,7501058715364,0.010,0.225,3.333,TOTAL AUTOS SCANNING MEXICO
1629,48-22,0046500729355,0.003,0.138,3.000,TOTAL AUTOS SCANNING MEXICO
2830,34-22,0741120000746,0.004,0.079,2.000,TOTAL AUTOS SCANNING MEXICO
2846,34-22,7501071901393,0.036,4.063,3.000,TOTAL AUTOS SCANNING MEXICO
3001,34-22,7501080952980,0.001,0.140,1.000,TOTAL AUTOS SCANNING MEXICO
...,...,...,...,...,...,...
121966,25-23,7501058796837,0.001,0.023,1.000,TOTAL AUTOS SCANNING MEXICO
121975,25-23,0046500022517,0.003,0.303,1.000,TOTAL AUTOS SCANNING MEXICO
121978,26-23,7501058794949BP1,0.001,0.043,1.000,TOTAL AUTOS SCANNING MEXICO
121980,26-23,7501058794956BP2,0.015,0.336,2.143,TOTAL AUTOS SCANNING MEXICO
121986,26-23,7501058715364,0.001,0.019,1.000,TOTAL AUTOS SCANNING MEXICO

In [6]:
#Duplicados diferentes del total de regiones
sales_region1=sales_duplicated.loc[sales_duplicated['REGION']!='TOTAL AUTOS SCANNING MEXICO']
sales_region1

,WEEK,ITEM_CODE,TOTAL_UNIT_SALES,TOTAL_VALUE_SALES,TOTAL_UNIT_AVG_WEEKLY_SALES,REGION
3782,02-22,7501025405076,0.001,0.010,1.000,TOTAL AUTOS AREA 3
4182,03-22,7501025402440,0.448,33.835,6.999,TOTAL AUTOS AREA 2
4275,24-22,7501071902314,0.001,0.016,1.000,TOTAL AUTOS AREA 4
4789,43-22,7501058797865BP2,0.001,0.001,1.000,TOTAL AUTOS AREA 5
5267,16-22,7501058797865BP2,0.001,0.026,1.000,TOTAL AUTOS AREA 1
...,...,...,...,...,...,...
121364,25-23,7501025401948,0.001,0.027,1.000,TOTAL AUTOS AREA 3
121918,22-23,0737128247009,0.182,1.679,4.545,TOTAL AUTOS AREA 6
121919,22-23,0737128127004,0.187,2.635,4.342,TOTAL AUTOS AREA 6
121921,22-23,7501041508652,0.013,2.743,2.167,TOTAL AUTOS AREA 6
121922,22-23,0737128047005,0.031,1.336,1.722,TOTAL AUTOS AREA 6

In [7]:
#Se ordena el dataframe por Región para facilitar el borrado de filas
sales_orden=sales.sort_values(by='REGION')

In [8]:
sales_orden

,WEEK,ITEM_CODE,TOTAL_UNIT_SALES,TOTAL_VALUE_SALES,TOTAL_UNIT_AVG_WEEKLY_SALES,REGION
88428,12-22,0000075000622,33.589,853.331,57.222,TOTAL AUTOS AREA 1
98771,15-22,7501025406578,0.961,37.045,12.321,TOTAL AUTOS AREA 1
98772,15-22,7501025412104,4.811,71.881,17.305,TOTAL AUTOS AREA 1
39382,35-22,7501071902093,0.109,6.538,2.946,TOTAL AUTOS AREA 1
39383,35-22,7501071903885,0.182,10.859,6.276,TOTAL AUTOS AREA 1
...,...,...,...,...,...,...
55706,30-22,7501058715098,0.004,0.226,1.333,TOTAL AUTOS SCANNING MEXICO
55707,30-22,7501058757890,8.995,798.900,4.373,TOTAL AUTOS SCANNING MEXICO
55708,30-22,7501058716071,0.168,23.451,2.507,TOTAL AUTOS SCANNING MEXICO
55698,30-22,7501058717030,33.374,726.785,24.594,TOTAL AUTOS SCANNING MEXICO
122001,26-23,7501058784346,1.468,301.973,2.068,TOTAL AUTOS SCANNING MEXICO

In [16]:
# Eliminamos la columna Región para poder identificar las filas duplicadas
sales_orden_sin_region =sales_orden.drop(columns=['REGION'])

In [17]:
sales_orden_sin_region

,WEEK,ITEM_CODE,TOTAL_UNIT_SALES,TOTAL_VALUE_SALES,TOTAL_UNIT_AVG_WEEKLY_SALES
88428,12-22,0000075000622,33.589,853.331,57.222
98771,15-22,7501025406578,0.961,37.045,12.321
98772,15-22,7501025412104,4.811,71.881,17.305
39382,35-22,7501071902093,0.109,6.538,2.946
39383,35-22,7501071903885,0.182,10.859,6.276
...,...,...,...,...,...
55706,30-22,7501058715098,0.004,0.226,1.333
55707,30-22,7501058757890,8.995,798.900,4.373
55708,30-22,7501058716071,0.168,23.451,2.507
55698,30-22,7501058717030,33.374,726.785,24.594
122001,26-23,7501058784346,1.468,301.973,2.068

In [18]:
#Se eliminan los últimos duplicados, se conservan los primeros
sales_df=sales_orden_sin_region.drop_duplicates(keep='first')
sales_df

,WEEK,ITEM_CODE,TOTAL_UNIT_SALES,TOTAL_VALUE_SALES,TOTAL_UNIT_AVG_WEEKLY_SALES
88428,12-22,0000075000622,33.589,853.331,57.222
98771,15-22,7501025406578,0.961,37.045,12.321
98772,15-22,7501025412104,4.811,71.881,17.305
39382,35-22,7501071902093,0.109,6.538,2.946
39383,35-22,7501071903885,0.182,10.859,6.276
...,...,...,...,...,...
55706,30-22,7501058715098,0.004,0.226,1.333
55707,30-22,7501058757890,8.995,798.900,4.373
55708,30-22,7501058716071,0.168,23.451,2.507
55698,30-22,7501058717030,33.374,726.785,24.594
122001,26-23,7501058784346,1.468,301.973,2.068

In [19]:
#Unir dataframes (Región) por índice predeterminado mediante el método Merge (similar a join de SQL)
sales_sales_df = sales_df.merge(sales_orden['REGION'], left_index=True, right_index=True, how='inner')
sales_sales_df

,WEEK,ITEM_CODE,TOTAL_UNIT_SALES,TOTAL_VALUE_SALES,TOTAL_UNIT_AVG_WEEKLY_SALES,REGION
88428,12-22,0000075000622,33.589,853.331,57.222,TOTAL AUTOS AREA 1
98771,15-22,7501025406578,0.961,37.045,12.321,TOTAL AUTOS AREA 1
98772,15-22,7501025412104,4.811,71.881,17.305,TOTAL AUTOS AREA 1
39382,35-22,7501071902093,0.109,6.538,2.946,TOTAL AUTOS AREA 1
39383,35-22,7501071903885,0.182,10.859,6.276,TOTAL AUTOS AREA 1
...,...,...,...,...,...,...
55706,30-22,7501058715098,0.004,0.226,1.333,TOTAL AUTOS SCANNING MEXICO
55707,30-22,7501058757890,8.995,798.900,4.373,TOTAL AUTOS SCANNING MEXICO
55708,30-22,7501058716071,0.168,23.451,2.507,TOTAL AUTOS SCANNING MEXICO
55698,30-22,7501058717030,33.374,726.785,24.594,TOTAL AUTOS SCANNING MEXICO
122001,26-23,7501058784346,1.468,301.973,2.068,TOTAL AUTOS SCANNING MEXICO

### 3. Calendar

In [20]:
# Leemos archivo en formato de Excel
calendar=pd.read_excel('DIM_CALENDAR.xlsx')
calendar

      WEEK  YEAR  MONTH  WEEK_NUMBER       DATE
0    01-21  2021      1            1 2021-01-10
1    02-21  2021      1            2 2021-01-17
2    03-21  2021      1            3 2021-01-24
3    04-21  2021      1            4 2021-01-31
4    05-21  2021      2            5 2021-02-07
..     ...   ...    ...          ...        ...
151  48-23  2023     12           48 2023-12-04
152  49-23  2023     12           49 2023-12-11
153  50-23  2023     12           50 2023-12-18
154  51-23  2023     12           51 2023-12-25
155  52-23  2023      1           52 2024-01-01

[156 rows x 5 columns]

In [21]:
#Se convierte a .csv
calendar.to_csv('DIM_CALENDAR.csv')
calendar

      WEEK  YEAR  MONTH  WEEK_NUMBER       DATE
0    01-21  2021      1            1 2021-01-10
1    02-21  2021      1            2 2021-01-17
2    03-21  2021      1            3 2021-01-24
3    04-21  2021      1            4 2021-01-31
4    05-21  2021      2            5 2021-02-07
..     ...   ...    ...          ...        ...
151  48-23  2023     12           48 2023-12-04
152  49-23  2023     12           49 2023-12-11
153  50-23  2023     12           50 2023-12-18
154  51-23  2023     12           51 2023-12-25
155  52-23  2023      1           52 2024-01-01

[156 rows x 5 columns]

In [22]:
calendar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   WEEK         156 non-null    object
 1   YEAR         156 non-null    int64
 2   MONTH        156 non-null    int64
 3   WEEK_NUMBER  156 non-null    int64
 4   DATE         156 non-null    datetime64[ns]
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 6.2+ KB

In [23]:
calendar['WEEK']=calendar['WEEK'].astype('string')

In [24]:
calendar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   WEEK         156 non-null    string
 1   YEAR         156 non-null    int64
 2   MONTH        156 non-null    int64
 3   WEEK_NUMBER  156 non-null    int64
 4   DATE         156 non-null    datetime64[ns]
dtypes: datetime64[ns](1), int64(3), string(1)
memory usage: 6.2 KB

In [25]:
print(calendar.isnull().sum())

WEEK           0
YEAR           0
MONTH          0
WEEK_NUMBER    0
DATE           0
dtype: int64

In [26]:
#Contar duplicados en Semana
print(calendar['WEEK'].duplicated().sum())

0

In [27]:
calendar.shape

(156, 5)

### 4. Segment

In [29]:
segment=pd.read_excel('DIM_SEGMENT.xlsx')
segment

,CATEGORY,ATTR1,ATTR2,ATTR3,FORMAT,SEGMENT
0,1,CLORO,CLORO,BAMBINO,LIQUIDO,BLEACH
1,1,CLORO,CLORO,GERMICIDA,LIQUIDO,BLEACH
2,1,CLORO,CLORO,MASCOTAS,LIQUIDO,BLEACH
3,1,CLORO,CLORO,MULTIUSOS,GEL,BLEACH
4,1,CLORO,CLORO,MULTIUSOS,LIQUIDO,BLEACH
5,1,CLORO,CLORO,NO DEFINIDO,LIQUIDO,BLEACH
6,1,CLORO,CLORO,NO DEFINIDO,POLVO,BLEACH
7,1,CLORO,CLORO,OTR. TIPOS,LIQUIDO,BLEACH
8,1,CLORO,CLORO,OTR. TIPOS,POLVO,BLEACH
9,1,CLORO,CLORO,ROPA BEBE,LIQUIDO,BLEACH
10,1,CLORO,CLORO,NaN,LIQUIDO,BLEACH
11,1,CLORO,MASCOTAS,MASCOTAS,LIQUIDO,BLEACH
12,1,CLORO,MULTIUSOS,MULTIUSOS,GEL,BLEACH
13,1,CLORO,NO DEFINIDO,NO DEFINIDO,LIQUIDO,BLEACH
14,1,PRELAVADOR,FABRIC TREATMENT,BLANCO,GEL,LIQUID & GEL
15,1,PRELAVADOR,FABRIC TREATMENT,BLANCO,POLVO,POWDER
16,1,PRELAVADOR,FABRIC TREATMENT,BLANCO,TOALLAS,OTHERS
17,1,PRELAVADOR,FABRIC TREATMENT,OTR. TIPOS,LIQUIDO,PRETREAT
18,1,PRELAVADOR,FABRIC TREATMENT,PRE LAVADOR,LIQUIDO,PRETREAT
19,1,PRELAVADOR,FABRIC TREATMENT,PRE LAVADOR,POLVO,POWDER
20,1,PRELAVADOR,FABRIC TREATMENT,QUITAMANCHAS,LIQUIDO,PRETREAT
21,1,PRELAVADOR,FABRIC TREATMENT,ROPA COLOR,LIQUIDO,PRETREAT
22,1,PRELAVADOR,FABRIC TREATMENT,ROSA,GEL,LIQUID & GEL
23,1,PRELAVADOR,FABRIC TREATMENT,ROSA,LIQUIDO,PRETREAT
24,1,PRELAVADOR,FABRIC TREATMENT,ROSA,POLVO,POWDER
25,1,SAFE BLEACH,FABRIC TREATMENT,BLANCO,BARRA,BAR
26,1,SAFE BLEACH,FABRIC TREATMENT,BLANCO,GEL,LIQUID & GEL
27,1,SAFE BLEACH,FABRIC TREATMENT,BLANCO,LIQUIDO,LIQUID & GEL
28,1,SAFE BLEACH,FABRIC TREATMENT,BLANCO,POLVO,POWDER
29,1,SAFE BLEACH,FABRIC TREATMENT,COLOR PODER VINAGRE,GEL,LIQUID & GEL
30,1,SAFE BLEACH,FABRIC TREATMENT,COLOR PODER VINAGRE,LIQUIDO,LIQUID & GEL
31,1,SAFE BLEACH,FABRIC TREATMENT,OTR. TIPOS,BARRA,BAR
32,1,SAFE BLEACH,FABRIC TREATMENT,OTR. TIPOS,GEL,LIQUID & GEL
33,1,SAFE BLEACH,FABRIC TREATMENT,OTR. TIPOS,LIQUIDO,LIQUID & GEL
34,1,SAFE BLEACH,FABRIC TREATMENT,OTR. TIPOS,POLVO,POWDER
35,1,SAFE BLEACH,FABRIC TREATMENT,PODER OXIGENO,GEL,LIQUID & GEL
36,1,SAFE BLEACH,FABRIC TREATMENT,PRE LAVADOR,BARRA,BAR
37,1,SAFE BLEACH,FABRIC TREATMENT,PRE LAVADOR,GEL,LIQUID & GEL
38,1,SAFE BLEACH,FABRIC TREATMENT,PRE LAVADOR,LIQUIDO,PRETREAT
39,1,SAFE BLEACH,FABRIC TREATMENT,PRE LAVADOR,POLVO,POWDER
40,1,SAFE BLEACH,FABRIC TREATMENT,QUITAMANCHAS,GEL,LIQUID & GEL
41,1,SAFE BLEACH,FABRIC TREATMENT,QUITAMANCHAS,LIQUIDO,LIQUID & GEL
42,1,SAFE BLEACH,FABRIC TREATMENT,QUITAMANCHAS,POLVO,POWDER
43,1,SAFE BLEACH,FABRIC TREATMENT,ROPA BLANCA,LIQUIDO,LIQUID & GEL
44,1,SAFE BLEACH,FABRIC TREATMENT,ROPA BLANCA,POLVO,POWDER
45,1,SAFE BLEACH,FABRIC TREATMENT,ROPA COLOR,LIQUIDO,LIQUID & GEL
46,1,SAFE BLEACH,FABRIC TREATMENT,ROPA COLOR,POLVO,POWDER
47,1,SAFE BLEACH,FABRIC TREATMENT,ROSA,BARRA,BAR
48,1,SAFE BLEACH,FABRIC TREATMENT,ROSA,GEL,LIQUID & GEL
49,1,SAFE BLEACH,FABRIC TREATMENT,ROSA,LIQUIDO,LIQUID & GEL
50,1,SAFE BLEACH,FABRIC TREATMENT,ROSA,POLVO,POWDER
51,1,SAFE BLEACH,PRE LAVADOR,PRE LAVADOR,GEL,PRETREAT
52,1,SANITIZANTE,SANITIZANTE,SANITIZANTE,LIQUIDO,SANITIZER

In [30]:
segment.to_csv('DIM_SEGMENT.csv')
segment

,CATEGORY,ATTR1,ATTR2,ATTR3,FORMAT,SEGMENT
0,1,CLORO,CLORO,BAMBINO,LIQUIDO,BLEACH
1,1,CLORO,CLORO,GERMICIDA,LIQUIDO,BLEACH
2,1,CLORO,CLORO,MASCOTAS,LIQUIDO,BLEACH
3,1,CLORO,CLORO,MULTIUSOS,GEL,BLEACH
4,1,CLORO,CLORO,MULTIUSOS,LIQUIDO,BLEACH
5,1,CLORO,CLORO,NO DEFINIDO,LIQUIDO,BLEACH
6,1,CLORO,CLORO,NO DEFINIDO,POLVO,BLEACH
7,1,CLORO,CLORO,OTR. TIPOS,LIQUIDO,BLEACH
8,1,CLORO,CLORO,OTR. TIPOS,POLVO,BLEACH
9,1,CLORO,CLORO,ROPA BEBE,LIQUIDO,BLEACH
10,1,CLORO,CLORO,NaN,LIQUIDO,BLEACH
11,1,CLORO,MASCOTAS,MASCOTAS,LIQUIDO,BLEACH
12,1,CLORO,MULTIUSOS,MULTIUSOS,GEL,BLEACH
13,1,CLORO,NO DEFINIDO,NO DEFINIDO,LIQUIDO,BLEACH
14,1,PRELAVADOR,FABRIC TREATMENT,BLANCO,GEL,LIQUID & GEL
15,1,PRELAVADOR,FABRIC TREATMENT,BLANCO,POLVO,POWDER
16,1,PRELAVADOR,FABRIC TREATMENT,BLANCO,TOALLAS,OTHERS
17,1,PRELAVADOR,FABRIC TREATMENT,OTR. TIPOS,LIQUIDO,PRETREAT
18,1,PRELAVADOR,FABRIC TREATMENT,PRE LAVADOR,LIQUIDO,PRETREAT
19,1,PRELAVADOR,FABRIC TREATMENT,PRE LAVADOR,POLVO,POWDER
20,1,PRELAVADOR,FABRIC TREATMENT,QUITAMANCHAS,LIQUIDO,PRETREAT
21,1,PRELAVADOR,FABRIC TREATMENT,ROPA COLOR,LIQUIDO,PRETREAT
22,1,PRELAVADOR,FABRIC TREATMENT,ROSA,GEL,LIQUID & GEL
23,1,PRELAVADOR,FABRIC TREATMENT,ROSA,LIQUIDO,PRETREAT
24,1,PRELAVADOR,FABRIC TREATMENT,ROSA,POLVO,POWDER
25,1,SAFE BLEACH,FABRIC TREATMENT,BLANCO,BARRA,BAR
26,1,SAFE BLEACH,FABRIC TREATMENT,BLANCO,GEL,LIQUID & GEL
27,1,SAFE BLEACH,FABRIC TREATMENT,BLANCO,LIQUIDO,LIQUID & GEL
28,1,SAFE BLEACH,FABRIC TREATMENT,BLANCO,POLVO,POWDER
29,1,SAFE BLEACH,FABRIC TREATMENT,COLOR PODER VINAGRE,GEL,LIQUID & GEL
30,1,SAFE BLEACH,FABRIC TREATMENT,COLOR PODER VINAGRE,LIQUIDO,LIQUID & GEL
31,1,SAFE BLEACH,FABRIC TREATMENT,OTR. TIPOS,BARRA,BAR
32,1,SAFE BLEACH,FABRIC TREATMENT,OTR. TIPOS,GEL,LIQUID & GEL
33,1,SAFE BLEACH,FABRIC TREATMENT,OTR. TIPOS,LIQUIDO,LIQUID & GEL
34,1,SAFE BLEACH,FABRIC TREATMENT,OTR. TIPOS,POLVO,POWDER
35,1,SAFE BLEACH,FABRIC TREATMENT,PODER OXIGENO,GEL,LIQUID & GEL
36,1,SAFE BLEACH,FABRIC TREATMENT,PRE LAVADOR,BARRA,BAR
37,1,SAFE BLEACH,FABRIC TREATMENT,PRE LAVADOR,GEL,LIQUID & GEL
38,1,SAFE BLEACH,FABRIC TREATMENT,PRE LAVADOR,LIQUIDO,PRETREAT
39,1,SAFE BLEACH,FABRIC TREATMENT,PRE LAVADOR,POLVO,POWDER
40,1,SAFE BLEACH,FABRIC TREATMENT,QUITAMANCHAS,GEL,LIQUID & GEL
41,1,SAFE BLEACH,FABRIC TREATMENT,QUITAMANCHAS,LIQUIDO,LIQUID & GEL
42,1,SAFE BLEACH,FABRIC TREATMENT,QUITAMANCHAS,POLVO,POWDER
43,1,SAFE BLEACH,FABRIC TREATMENT,ROPA BLANCA,LIQUIDO,LIQUID & GEL
44,1,SAFE BLEACH,FABRIC TREATMENT,ROPA BLANCA,POLVO,POWDER
45,1,SAFE BLEACH,FABRIC TREATMENT,ROPA COLOR,LIQUIDO,LIQUID & GEL
46,1,SAFE BLEACH,FABRIC TREATMENT,ROPA COLOR,POLVO,POWDER
47,1,SAFE BLEACH,FABRIC TREATMENT,ROSA,BARRA,BAR
48,1,SAFE BLEACH,FABRIC TREATMENT,ROSA,GEL,LIQUID & GEL
49,1,SAFE BLEACH,FABRIC TREATMENT,ROSA,LIQUIDO,LIQUID & GEL
50,1,SAFE BLEACH,FABRIC TREATMENT,ROSA,POLVO,POWDER
51,1,SAFE BLEACH,PRE LAVADOR,PRE LAVADOR,GEL,PRETREAT
52,1,SANITIZANTE,SANITIZANTE,SANITIZANTE,LIQUIDO,SANITIZER

In [31]:
segment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   CATEGORY  53 non-null     int64
 1   ATTR1     53 non-null     object
 2   ATTR2     53 non-null     object
 3   ATTR3     52 non-null     object
 4   FORMAT    53 non-null     object
 5   SEGMENT   53 non-null     object
dtypes: int64(1), object(5)
memory usage: 2.6+ KB

In [32]:
segment['ATTR1']=segment['ATTR1'].astype('string')
segment['ATTR2']=segment['ATTR2'].astype('string')
segment['ATTR3']=segment['ATTR3'].astype('string')
segment['FORMAT']=segment['FORMAT'].astype('string')
segment['SEGMENT']=segment['SEGMENT'].astype('string')

In [33]:
segment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   CATEGORY  53 non-null     int64
 1   ATTR1     53 non-null     string
 2   ATTR2     53 non-null     string
 3   ATTR3     52 non-null     string
 4   FORMAT    53 non-null     string
 5   SEGMENT   53 non-null     string
dtypes: int64(1), string(5)
memory usage: 2.6 KB

In [34]:
print(segment.isnull().sum())

CATEGORY    0
ATTR1       0
ATTR2       0
ATTR3       1
FORMAT      0
SEGMENT     0
dtype: int64

In [35]:
#Buscamos el valor nulo
print(segment[segment.isnull().any(axis=1)])

    CATEGORY  ATTR1  ATTR2 ATTR3   FORMAT SEGMENT
10         1  CLORO  CLORO  <NA>  LIQUIDO  BLEACH

In [36]:
segment.loc[:10]

    CATEGORY  ATTR1  ATTR2        ATTR3   FORMAT SEGMENT
0          1  CLORO  CLORO      BAMBINO  LIQUIDO  BLEACH
1          1  CLORO  CLORO    GERMICIDA  LIQUIDO  BLEACH
2          1  CLORO  CLORO     MASCOTAS  LIQUIDO  BLEACH
3          1  CLORO  CLORO    MULTIUSOS      GEL  BLEACH
4          1  CLORO  CLORO    MULTIUSOS  LIQUIDO  BLEACH
5          1  CLORO  CLORO  NO DEFINIDO  LIQUIDO  BLEACH
6          1  CLORO  CLORO  NO DEFINIDO    POLVO  BLEACH
7          1  CLORO  CLORO   OTR. TIPOS  LIQUIDO  BLEACH
8          1  CLORO  CLORO   OTR. TIPOS    POLVO  BLEACH
9          1  CLORO  CLORO    ROPA BEBE  LIQUIDO  BLEACH
10         1  CLORO  CLORO         <NA>  LIQUIDO  BLEACH

In [37]:
#Rellenar nulos
segment.fillna('NO DEFINIDO', inplace=True)

In [39]:
segment.loc[10]

CATEGORY              1
ATTR1             CLORO
ATTR2             CLORO
ATTR3       NO DEFINIDO
FORMAT          LIQUIDO
SEGMENT          BLEACH
Name: 10, dtype: object

In [40]:
print(segment.duplicated().sum())

1

In [41]:
print(segment.duplicated())

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10     True
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
50    False
51    False
52    False
dtype: bool

In [42]:
segment.loc[:10]

    CATEGORY  ATTR1  ATTR2        ATTR3   FORMAT SEGMENT
0          1  CLORO  CLORO      BAMBINO  LIQUIDO  BLEACH
1          1  CLORO  CLORO    GERMICIDA  LIQUIDO  BLEACH
2          1  CLORO  CLORO     MASCOTAS  LIQUIDO  BLEACH
3          1  CLORO  CLORO    MULTIUSOS      GEL  BLEACH
4          1  CLORO  CLORO    MULTIUSOS  LIQUIDO  BLEACH
5          1  CLORO  CLORO  NO DEFINIDO  LIQUIDO  BLEACH
6          1  CLORO  CLORO  NO DEFINIDO    POLVO  BLEACH
7          1  CLORO  CLORO   OTR. TIPOS  LIQUIDO  BLEACH
8          1  CLORO  CLORO   OTR. TIPOS    POLVO  BLEACH
9          1  CLORO  CLORO    ROPA BEBE  LIQUIDO  BLEACH
10         1  CLORO  CLORO  NO DEFINIDO  LIQUIDO  BLEACH

In [43]:
#Se conserva el registro No. 5
segment_df=segment.drop_duplicates(keep='first')
segment_df

,CATEGORY,ATTR1,ATTR2,ATTR3,FORMAT,SEGMENT
0,1,CLORO,CLORO,BAMBINO,LIQUIDO,BLEACH
1,1,CLORO,CLORO,GERMICIDA,LIQUIDO,BLEACH
2,1,CLORO,CLORO,MASCOTAS,LIQUIDO,BLEACH
3,1,CLORO,CLORO,MULTIUSOS,GEL,BLEACH
4,1,CLORO,CLORO,MULTIUSOS,LIQUIDO,BLEACH
5,1,CLORO,CLORO,NO DEFINIDO,LIQUIDO,BLEACH
6,1,CLORO,CLORO,NO DEFINIDO,POLVO,BLEACH
7,1,CLORO,CLORO,OTR. TIPOS,LIQUIDO,BLEACH
8,1,CLORO,CLORO,OTR. TIPOS,POLVO,BLEACH
9,1,CLORO,CLORO,ROPA BEBE,LIQUIDO,BLEACH
11,1,CLORO,MASCOTAS,MASCOTAS,LIQUIDO,BLEACH
12,1,CLORO,MULTIUSOS,MULTIUSOS,GEL,BLEACH
13,1,CLORO,NO DEFINIDO,NO DEFINIDO,LIQUIDO,BLEACH
14,1,PRELAVADOR,FABRIC TREATMENT,BLANCO,GEL,LIQUID & GEL
15,1,PRELAVADOR,FABRIC TREATMENT,BLANCO,POLVO,POWDER
16,1,PRELAVADOR,FABRIC TREATMENT,BLANCO,TOALLAS,OTHERS
17,1,PRELAVADOR,FABRIC TREATMENT,OTR. TIPOS,LIQUIDO,PRETREAT
18,1,PRELAVADOR,FABRIC TREATMENT,PRE LAVADOR,LIQUIDO,PRETREAT
19,1,PRELAVADOR,FABRIC TREATMENT,PRE LAVADOR,POLVO,POWDER
20,1,PRELAVADOR,FABRIC TREATMENT,QUITAMANCHAS,LIQUIDO,PRETREAT
21,1,PRELAVADOR,FABRIC TREATMENT,ROPA COLOR,LIQUIDO,PRETREAT
22,1,PRELAVADOR,FABRIC TREATMENT,ROSA,GEL,LIQUID & GEL
23,1,PRELAVADOR,FABRIC TREATMENT,ROSA,LIQUIDO,PRETREAT
24,1,PRELAVADOR,FABRIC TREATMENT,ROSA,POLVO,POWDER
25,1,SAFE BLEACH,FABRIC TREATMENT,BLANCO,BARRA,BAR
26,1,SAFE BLEACH,FABRIC TREATMENT,BLANCO,GEL,LIQUID & GEL
27,1,SAFE BLEACH,FABRIC TREATMENT,BLANCO,LIQUIDO,LIQUID & GEL
28,1,SAFE BLEACH,FABRIC TREATMENT,BLANCO,POLVO,POWDER
29,1,SAFE BLEACH,FABRIC TREATMENT,COLOR PODER VINAGRE,GEL,LIQUID & GEL
30,1,SAFE BLEACH,FABRIC TREATMENT,COLOR PODER VINAGRE,LIQUIDO,LIQUID & GEL
31,1,SAFE BLEACH,FABRIC TREATMENT,OTR. TIPOS,BARRA,BAR
32,1,SAFE BLEACH,FABRIC TREATMENT,OTR. TIPOS,GEL,LIQUID & GEL
33,1,SAFE BLEACH,FABRIC TREATMENT,OTR. TIPOS,LIQUIDO,LIQUID & GEL
34,1,SAFE BLEACH,FABRIC TREATMENT,OTR. TIPOS,POLVO,POWDER
35,1,SAFE BLEACH,FABRIC TREATMENT,PODER OXIGENO,GEL,LIQUID & GEL
36,1,SAFE BLEACH,FABRIC TREATMENT,PRE LAVADOR,BARRA,BAR
37,1,SAFE BLEACH,FABRIC TREATMENT,PRE LAVADOR,GEL,LIQUID & GEL
38,1,SAFE BLEACH,FABRIC TREATMENT,PRE LAVADOR,LIQUIDO,PRETREAT
39,1,SAFE BLEACH,FABRIC TREATMENT,PRE LAVADOR,POLVO,POWDER
40,1,SAFE BLEACH,FABRIC TREATMENT,QUITAMANCHAS,GEL,LIQUID & GEL
41,1,SAFE BLEACH,FABRIC TREATMENT,QUITAMANCHAS,LIQUIDO,LIQUID & GEL
42,1,SAFE BLEACH,FABRIC TREATMENT,QUITAMANCHAS,POLVO,POWDER
43,1,SAFE BLEACH,FABRIC TREATMENT,ROPA BLANCA,LIQUIDO,LIQUID & GEL
44,1,SAFE BLEACH,FABRIC TREATMENT,ROPA BLANCA,POLVO,POWDER
45,1,SAFE BLEACH,FABRIC TREATMENT,ROPA COLOR,LIQUIDO,LIQUID & GEL
46,1,SAFE BLEACH,FABRIC TREATMENT,ROPA COLOR,POLVO,POWDER
47,1,SAFE BLEACH,FABRIC TREATMENT,ROSA,BARRA,BAR
48,1,SAFE BLEACH,FABRIC TREATMENT,ROSA,GEL,LIQUID & GEL
49,1,SAFE BLEACH,FABRIC TREATMENT,ROSA,LIQUIDO,LIQUID & GEL
50,1,SAFE BLEACH,FABRIC TREATMENT,ROSA,POLVO,POWDER
51,1,SAFE BLEACH,PRE LAVADOR,PRE LAVADOR,GEL,PRETREAT
52,1,SANITIZANTE,SANITIZANTE,SANITIZANTE,LIQUIDO,SANITIZER

In [44]:
#Concantenación de formato y sus atributos
segment['FORMAT'] = segment[['FORMAT', 'ATTR1', 'ATTR2', 'ATTR3']].agg(' '.join, axis=1)

In [45]:
segment.head(2)

   CATEGORY  ATTR1  ATTR2      ATTR3                         FORMAT SEGMENT
0         1  CLORO  CLORO    BAMBINO    LIQUIDO CLORO CLORO BAMBINO  BLEACH
1         1  CLORO  CLORO  GERMICIDA  LIQUIDO CLORO CLORO GERMICIDA  BLEACH

In [46]:
#Eliminamos las columnas redundantes
segment_df=segment.drop(columns= {'ATTR1', 'ATTR2', 'ATTR3'})

In [47]:
segment_df.shape

(53, 3)

### 5. Product

In [48]:
product=pd.read_excel('DIM_PRODUCT.xlsx')
product

,MANUFACTURER,BRAND,ITEM,ITEM_DESCRIPTION,CATEGORY,FORMAT,ATTR1,ATTR2,ATTR3
0,INDS. ALEN,CLORALEX,0000075000592,CLORALEX EL RENDIDOR BOT.PLAST. 250ML NAL. 000...,1,LIQUIDO,CLORO,CLORO,NO DEFINIDO
1,INDS. ALEN,CLORALEX,0000075000608,CLORALEX EL RENDIDOR BOT.PLAST. 500ML NAL. 000...,1,LIQUIDO,CLORO,CLORO,NO DEFINIDO
2,INDS. ALEN,CLORALEX,0000075000615,CLORALEX EL RENDIDOR BOT.PLAST. 950ML NAL. 000...,1,LIQUIDO,CLORO,CLORO,NO DEFINIDO
3,INDS. ALEN,CLORALEX,0000075000622,CLORALEX EL RENDIDOR BOT.PLAST. 2000ML NAL 000...,1,LIQUIDO,CLORO,CLORO,NO DEFINIDO
4,INDS. ALEN,CLORALEX,0000075000639,CLORALEX EL RENDIDOR BOT.PLAST. 3750ML NAL 000...,1,LIQUIDO,CLORO,CLORO,NO DEFINIDO
...,...,...,...,...,...,...,...,...,...
500,RECKITT,VANISH,7501058789778BP1,VANISH EXT HIGIENE REM MANCHAS GAL 4LT + VANIS...,1,LIQUIDO,SAFE BLEACH,FABRIC TREATMENT,ROSA
501,INDS. ALEN,CLORALEX,7501025412142,CLORALEX AROMAS BLANQUEADOR C/AROMA LAVANDA GA...,1,LIQUIDO,CLORO,CLORO,NO DEFINIDO
502,INDS. ALEN,CLORALEX,NaN,CLORALEX EL RENDIDOR BOT PLAST 2LT,1,LIQUIDO,CLORO,CLORO,NO DEFINIDO
503,CLOROX,CLOROX,NaN,CLOROX MASCOTAS BLANQUEADOR+DETERGENTE GALON 10L,1,LIQUIDO,CLORO,CLORO,MASCOTAS
504,CLOROX,CLOROX,7502240948188BP1,CLOROX BLANQ930M+MMBLANQINOD709M+MMFIBRAULTRA1...,1,LIQUIDO,CLORO,CLORO,NO DEFINIDO

In [49]:
product.to_csv('DIM_PRODUCT.csv')
product

,MANUFACTURER,BRAND,ITEM,ITEM_DESCRIPTION,CATEGORY,FORMAT,ATTR1,ATTR2,ATTR3
0,INDS. ALEN,CLORALEX,0000075000592,CLORALEX EL RENDIDOR BOT.PLAST. 250ML NAL. 000...,1,LIQUIDO,CLORO,CLORO,NO DEFINIDO
1,INDS. ALEN,CLORALEX,0000075000608,CLORALEX EL RENDIDOR BOT.PLAST. 500ML NAL. 000...,1,LIQUIDO,CLORO,CLORO,NO DEFINIDO
2,INDS. ALEN,CLORALEX,0000075000615,CLORALEX EL RENDIDOR BOT.PLAST. 950ML NAL. 000...,1,LIQUIDO,CLORO,CLORO,NO DEFINIDO
3,INDS. ALEN,CLORALEX,0000075000622,CLORALEX EL RENDIDOR BOT.PLAST. 2000ML NAL 000...,1,LIQUIDO,CLORO,CLORO,NO DEFINIDO
4,INDS. ALEN,CLORALEX,0000075000639,CLORALEX EL RENDIDOR BOT.PLAST. 3750ML NAL 000...,1,LIQUIDO,CLORO,CLORO,NO DEFINIDO
...,...,...,...,...,...,...,...,...,...
500,RECKITT,VANISH,7501058789778BP1,VANISH EXT HIGIENE REM MANCHAS GAL 4LT + VANIS...,1,LIQUIDO,SAFE BLEACH,FABRIC TREATMENT,ROSA
501,INDS. ALEN,CLORALEX,7501025412142,CLORALEX AROMAS BLANQUEADOR C/AROMA LAVANDA GA...,1,LIQUIDO,CLORO,CLORO,NO DEFINIDO
502,INDS. ALEN,CLORALEX,NaN,CLORALEX EL RENDIDOR BOT PLAST 2LT,1,LIQUIDO,CLORO,CLORO,NO DEFINIDO
503,CLOROX,CLOROX,NaN,CLOROX MASCOTAS BLANQUEADOR+DETERGENTE GALON 10L,1,LIQUIDO,CLORO,CLORO,MASCOTAS
504,CLOROX,CLOROX,7502240948188BP1,CLOROX BLANQ930M+MMBLANQINOD709M+MMFIBRAULTRA1...,1,LIQUIDO,CLORO,CLORO,NO DEFINIDO

In [50]:
product.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 505 entries, 0 to 504
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   MANUFACTURER      505 non-null    object
 1   BRAND             505 non-null    object
 2   ITEM              503 non-null    object
 3   ITEM_DESCRIPTION  505 non-null    object
 4   CATEGORY          505 non-null    int64
 5   FORMAT            505 non-null    object
 6   ATTR1             499 non-null    object
 7   ATTR2             505 non-null    object
 8   ATTR3             499 non-null    object
dtypes: int64(1), object(8)
memory usage: 35.6+ KB

In [51]:
product['MANUFACTURER']=product['MANUFACTURER'].astype('string')
product['BRAND']=product['BRAND'].astype('string')
product['ITEM']=product['ITEM'].astype('string')
product['ITEM_DESCRIPTION']=product['ITEM_DESCRIPTION'].astype('string')
product['BRAND']=product['BRAND'].astype('string')
product['FORMAT']=product['FORMAT'].astype('string')
product['ATTR1']=product['ATTR1'].astype('string')
product['ATTR2']=product['ATTR2'].astype('string')
product['ATTR3']=product['ATTR3'].astype('string')

In [52]:
product.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 505 entries, 0 to 504
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   MANUFACTURER      505 non-null    string
 1   BRAND             505 non-null    string
 2   ITEM              503 non-null    string
 3   ITEM_DESCRIPTION  505 non-null    string
 4   CATEGORY          505 non-null    int64
 5   FORMAT            505 non-null    string
 6   ATTR1             499 non-null    string
 7   ATTR2             505 non-null    string
 8   ATTR3             499 non-null    string
dtypes: int64(1), string(8)
memory usage: 35.6 KB

In [53]:
#Contar valores nulos
product_null=product.isnull().sum()
product_null

MANUFACTURER        0
BRAND               0
ITEM                2
ITEM_DESCRIPTION    0
CATEGORY            0
FORMAT              0
ATTR1               6
ATTR2               0
ATTR3               6
dtype: int64

In [54]:
# Encontrar los valores nulos
print(product[product.isnull().any(axis=1)])

                MANUFACTURER               BRAND           ITEM  \
33               WHITE MAGIC         WHITE MAGIC  0079893431208
107               INDS. ALEN            CLORALEX  7501025401023
143               INDS. ALEN           BLANCATEL  7501025402259
343                   CLOROX              CLOROX  7501071901591
469  OTHERS FABRICANTE UNIF.  OTHERS MARCA UNIF.  7502217411776
495                   IBERIA              IBERIA  8411660040503
502               INDS. ALEN            CLORALEX           <NA>
503                   CLOROX              CLOROX           <NA>

                                      ITEM_DESCRIPTION  CATEGORY   FORMAT  \
33      9WHITE MAGIC BOT.PLAS 3970ML IMP 0079893431208         1  LIQUIDO
107  CLORALEX EXTRA SENSACION FRUTALES BOT PLAST 95...         1  LIQUIDO
143  BLANCATEL BLANQUEADOR BOTELLA 1.8LT 7501025402259         1  LIQUIDO
343  CLOROX BLANQUEADOR PARAISO TROPICAL 3800 ML NA...         1  LIQUIDO
469      KLEEN CLORO BOTELLA 1000 ML NAL 7502217411776         1  LIQUIDO
495  9IBERIA BLANQUEADOR POLVO 250 GR IMP 841166004...         1    POLVO
502                 CLORALEX EL RENDIDOR BOT PLAST 2LT         1  LIQUIDO
503   CLOROX MASCOTAS BLANQUEADOR+DETERGENTE GALON 10L         1  LIQUIDO

     ATTR1  ATTR2        ATTR3
33    <NA>  CLORO         <NA>
107   <NA>  CLORO         <NA>
143   <NA>  CLORO         <NA>
343   <NA>  CLORO         <NA>
469   <NA>  CLORO         <NA>
495   <NA>  CLORO         <NA>
502  CLORO  CLORO  NO DEFINIDO
503  CLORO  CLORO     MASCOTAS

In [55]:
#Rellenar
product.fillna('NO DEFINIDO', inplace=True)

In [56]:
product.isnull().sum()

MANUFACTURER        0
BRAND               0
ITEM                0
ITEM_DESCRIPTION    0
CATEGORY            0
FORMAT              0
ATTR1               0
ATTR2               0
ATTR3               0
dtype: int64

In [57]:
print(product.duplicated().sum())

0

In [58]:
print(product['ITEM'].duplicated().sum())

1

In [59]:
print(product['ITEM'].duplicated())

0      False
1      False
2      False
3      False
4      False
       ...
500    False
501    False
502    False
503     True
504    False
Name: ITEM, Length: 505, dtype: bool

In [60]:
#los valores rellenados son los duplicados anteriores
product.loc[[502,503]]

,MANUFACTURER,BRAND,ITEM,ITEM_DESCRIPTION,CATEGORY,FORMAT,ATTR1,ATTR2,ATTR3
502,INDS. ALEN,CLORALEX,NO DEFINIDO,CLORALEX EL RENDIDOR BOT PLAST 2LT,1,LIQUIDO,CLORO,CLORO,NO DEFINIDO
503,CLOROX,CLOROX,NO DEFINIDO,CLOROX MASCOTAS BLANQUEADOR+DETERGENTE GALON 10L,1,LIQUIDO,CLORO,CLORO,MASCOTAS

In [61]:
df_product=product.drop(index= [502, 503])
df_product

,MANUFACTURER,BRAND,ITEM,ITEM_DESCRIPTION,CATEGORY,FORMAT,ATTR1,ATTR2,ATTR3
0,INDS. ALEN,CLORALEX,0000075000592,CLORALEX EL RENDIDOR BOT.PLAST. 250ML NAL. 000...,1,LIQUIDO,CLORO,CLORO,NO DEFINIDO
1,INDS. ALEN,CLORALEX,0000075000608,CLORALEX EL RENDIDOR BOT.PLAST. 500ML NAL. 000...,1,LIQUIDO,CLORO,CLORO,NO DEFINIDO
2,INDS. ALEN,CLORALEX,0000075000615,CLORALEX EL RENDIDOR BOT.PLAST. 950ML NAL. 000...,1,LIQUIDO,CLORO,CLORO,NO DEFINIDO
3,INDS. ALEN,CLORALEX,0000075000622,CLORALEX EL RENDIDOR BOT.PLAST. 2000ML NAL 000...,1,LIQUIDO,CLORO,CLORO,NO DEFINIDO
4,INDS. ALEN,CLORALEX,0000075000639,CLORALEX EL RENDIDOR BOT.PLAST. 3750ML NAL 000...,1,LIQUIDO,CLORO,CLORO,NO DEFINIDO
...,...,...,...,...,...,...,...,...,...
498,IBERIA,IBERIA,8411660210036,IBERIA REVOLUTION QUITA MANCHAS ACCIDENTALES B...,1,LIQUIDO,SAFE BLEACH,FABRIC TREATMENT,PRE LAVADOR
499,JABONERA LA ESPUMA,BCLORHADA,7501681101305BP1,BCLORHADA MASC DET DES C/CLOR1L+MM MASCHOGAR D...,1,LIQUIDO,CLORO,CLORO,MASCOTAS
500,RECKITT,VANISH,7501058789778BP1,VANISH EXT HIGIENE REM MANCHAS GAL 4LT + VANIS...,1,LIQUIDO,SAFE BLEACH,FABRIC TREATMENT,ROSA
501,INDS. ALEN,CLORALEX,7501025412142,CLORALEX AROMAS BLANQUEADOR C/AROMA LAVANDA GA...,1,LIQUIDO,CLORO,CLORO,NO DEFINIDO
504,CLOROX,CLOROX,7502240948188BP1,CLOROX BLANQ930M+MMBLANQINOD709M+MMFIBRAULTRA1...,1,LIQUIDO,CLORO,CLORO,NO DEFINIDO

## Unión de dataframes

### Product y Segment

In [62]:
segment_df

    CATEGORY                                             FORMAT       SEGMENT
0          1                        LIQUIDO CLORO CLORO BAMBINO        BLEACH
1          1                      LIQUIDO CLORO CLORO GERMICIDA        BLEACH
2          1                       LIQUIDO CLORO CLORO MASCOTAS        BLEACH
3          1                          GEL CLORO CLORO MULTIUSOS        BLEACH
4          1                      LIQUIDO CLORO CLORO MULTIUSOS        BLEACH
5          1                    LIQUIDO CLORO CLORO NO DEFINIDO        BLEACH
6          1                      POLVO CLORO CLORO NO DEFINIDO        BLEACH
7          1                     LIQUIDO CLORO CLORO OTR. TIPOS        BLEACH
8          1                       POLVO CLORO CLORO OTR. TIPOS        BLEACH
9          1                      LIQUIDO CLORO CLORO ROPA BEBE        BLEACH
10         1                    LIQUIDO CLORO CLORO NO DEFINIDO        BLEACH
11         1                    LIQUIDO CLORO MASCOTAS MASCOTAS        BLEACH
12         1                      GEL CLORO MULTIUSOS MULTIUSOS        BLEACH
13         1              LIQUIDO CLORO NO DEFINIDO NO DEFINIDO        BLEACH
14         1             GEL PRELAVADOR FABRIC TREATMENT BLANCO  LIQUID & GEL
15         1           POLVO PRELAVADOR FABRIC TREATMENT BLANCO        POWDER
16         1         TOALLAS PRELAVADOR FABRIC TREATMENT BLANCO        OTHERS
17         1     LIQUIDO PRELAVADOR FABRIC TREATMENT OTR. TIPOS      PRETREAT
18         1    LIQUIDO PRELAVADOR FABRIC TREATMENT PRE LAVADOR      PRETREAT
19         1      POLVO PRELAVADOR FABRIC TREATMENT PRE LAVADOR        POWDER
20         1   LIQUIDO PRELAVADOR FABRIC TREATMENT QUITAMANCHAS      PRETREAT
21         1     LIQUIDO PRELAVADOR FABRIC TREATMENT ROPA COLOR      PRETREAT
22         1               GEL PRELAVADOR FABRIC TREATMENT ROSA  LIQUID & GEL
23         1           LIQUIDO PRELAVADOR FABRIC TREATMENT ROSA      PRETREAT
24         1             POLVO PRELAVADOR FABRIC TREATMENT ROSA        POWDER
25         1          BARRA SAFE BLEACH FABRIC TREATMENT BLANCO           BAR
26         1            GEL SAFE BLEACH FABRIC TREATMENT BLANCO  LIQUID & GEL
27         1        LIQUIDO SAFE BLEACH FABRIC TREATMENT BLANCO  LIQUID & GEL
28         1          POLVO SAFE BLEACH FABRIC TREATMENT BLANCO        POWDER
29         1  GEL SAFE BLEACH FABRIC TREATMENT COLOR PODER V...  LIQUID & GEL
30         1  LIQUIDO SAFE BLEACH FABRIC TREATMENT COLOR POD...  LIQUID & GEL
31         1      BARRA SAFE BLEACH FABRIC TREATMENT OTR. TIPOS           BAR
32         1        GEL SAFE BLEACH FABRIC TREATMENT OTR. TIPOS  LIQUID & GEL
33         1    LIQUIDO SAFE BLEACH FABRIC TREATMENT OTR. TIPOS  LIQUID & GEL
34         1      POLVO SAFE BLEACH FABRIC TREATMENT OTR. TIPOS        POWDER
35         1     GEL SAFE BLEACH FABRIC TREATMENT PODER OXIGENO  LIQUID & GEL
36         1     BARRA SAFE BLEACH FABRIC TREATMENT PRE LAVADOR           BAR
37         1       GEL SAFE BLEACH FABRIC TREATMENT PRE LAVADOR  LIQUID & GEL
38         1   LIQUIDO SAFE BLEACH FABRIC TREATMENT PRE LAVADOR      PRETREAT
39         1     POLVO SAFE BLEACH FABRIC TREATMENT PRE LAVADOR        POWDER
40         1      GEL SAFE BLEACH FABRIC TREATMENT QUITAMANCHAS  LIQUID & GEL
41         1  LIQUIDO SAFE BLEACH FABRIC TREATMENT QUITAMANCHAS  LIQUID & GEL
42         1    POLVO SAFE BLEACH FABRIC TREATMENT QUITAMANCHAS        POWDER
43         1   LIQUIDO SAFE BLEACH FABRIC TREATMENT ROPA BLANCA  LIQUID & GEL
44         1     POLVO SAFE BLEACH FABRIC TREATMENT ROPA BLANCA        POWDER
45         1    LIQUIDO SAFE BLEACH FABRIC TREATMENT ROPA COLOR  LIQUID & GEL
46         1      POLVO SAFE BLEACH FABRIC TREATMENT ROPA COLOR        POWDER
47         1            BARRA SAFE BLEACH FABRIC TREATMENT ROSA           BAR
48         1              GEL SAFE BLEACH FABRIC TREATMENT ROSA  LIQUID & GEL
49         1          LIQUIDO SAFE BLEACH FABRIC TREATMENT ROSA  LIQUID & GEL
50         1            POLVO SAFE BLEACH FABRIC TREATMENT ROSA        POWDER
51         1            GEL SAFE BLEACH PRE LAVADOR PRE LAVADOR      PRETREAT
52         1        LIQUIDO SANITIZANTE SANITIZANTE SANITIZANTE     SANITIZER

In [63]:
# Para más practicidad se concatena el formato y sus atributos, tal como en el dataframe 'segment_df'
df_product['FORMAT'] = df_product[['FORMAT', 'ATTR1', 'ATTR2', 'ATTR3']].agg(' '.join, axis=1)

In [64]:
df_product.drop(columns={'ATTR1','ATTR2', 'ATTR3'}, inplace=True)

In [65]:
df_product.head(2)

,MANUFACTURER,BRAND,ITEM,ITEM_DESCRIPTION,CATEGORY,FORMAT
0,INDS. ALEN,CLORALEX,0000075000592,CLORALEX EL RENDIDOR BOT.PLAST. 250ML NAL. 000...,1,LIQUIDO CLORO CLORO NO DEFINIDO
1,INDS. ALEN,CLORALEX,0000075000608,CLORALEX EL RENDIDOR BOT.PLAST. 500ML NAL. 000...,1,LIQUIDO CLORO CLORO NO DEFINIDO

In [66]:
#Visualizamos los formatos que sólo están en el dataframe product_df
solo_en_product = set(df_product['FORMAT']) - set(segment_df['FORMAT'])
solo_en_product

{'LIQUIDO NO DEFINIDO CLORO NO DEFINIDO',
 'POLVO NO DEFINIDO CLORO NO DEFINIDO'}

In [67]:
formato_1=df_product[df_product['FORMAT']=='LIQUIDO NO DEFINIDO CLORO NO DEFINIDO']
formato_2=df_product[df_product['FORMAT']=='POLVO NO DEFINIDO CLORO NO DEFINIDO']

In [68]:
#Averiguamos la categoría de los nuevos formatos
formato_1['CATEGORY']

33     1
107    1
143    1
343    1
469    1
Name: CATEGORY, dtype: int64

In [69]:
formato_2['CATEGORY']

495    1
Name: CATEGORY, dtype: int64

In [70]:
segment_df.shape

(53, 3)

In [71]:
#Se agregan los formatos a diferentes segmentos
segment_df.loc[53]=[1,'LIQUIDO NO DEFINIDO CLORO NO DEFINIDO', 'BLEACH']

In [72]:
segment_df.loc[54]=[1,'POLVO NO DEFINIDO CLORO NO DEFINIDO', 'POWDER']

In [73]:
segment_df.loc[[53,54]]

    CATEGORY                                 FORMAT SEGMENT
53         1  LIQUIDO NO DEFINIDO CLORO NO DEFINIDO  BLEACH
54         1    POLVO NO DEFINIDO CLORO NO DEFINIDO  POWDER

In [74]:
#Filtro que servirá para anexar la columna 'Segment' al dataframe
filtro=segment_df[['FORMAT','SEGMENT']]

In [75]:
#Unión de ambos dataframes (Formato) usando el método Merge y eliminando duplicados que puedan generarse
product_segment_df = df_product.merge(filtro.drop_duplicates(subset=['FORMAT']), left_on='FORMAT', right_on='FORMAT', how='inner')
product_segment_df

,MANUFACTURER,BRAND,ITEM,ITEM_DESCRIPTION,CATEGORY,FORMAT,SEGMENT
0,INDS. ALEN,CLORALEX,0000075000592,CLORALEX EL RENDIDOR BOT.PLAST. 250ML NAL. 000...,1,LIQUIDO CLORO CLORO NO DEFINIDO,BLEACH
1,INDS. ALEN,CLORALEX,0000075000608,CLORALEX EL RENDIDOR BOT.PLAST. 500ML NAL. 000...,1,LIQUIDO CLORO CLORO NO DEFINIDO,BLEACH
2,INDS. ALEN,CLORALEX,0000075000615,CLORALEX EL RENDIDOR BOT.PLAST. 950ML NAL. 000...,1,LIQUIDO CLORO CLORO NO DEFINIDO,BLEACH
3,INDS. ALEN,CLORALEX,0000075000622,CLORALEX EL RENDIDOR BOT.PLAST. 2000ML NAL 000...,1,LIQUIDO CLORO CLORO NO DEFINIDO,BLEACH
4,INDS. ALEN,CLORALEX,0000075000639,CLORALEX EL RENDIDOR BOT.PLAST. 3750ML NAL 000...,1,LIQUIDO CLORO CLORO NO DEFINIDO,BLEACH
...,...,...,...,...,...,...,...
498,IBERIA,IBERIA,8411660210036,IBERIA REVOLUTION QUITA MANCHAS ACCIDENTALES B...,1,LIQUIDO SAFE BLEACH FABRIC TREATMENT PRE LAVADOR,PRETREAT
499,JABONERA LA ESPUMA,BCLORHADA,7501681101305BP1,BCLORHADA MASC DET DES C/CLOR1L+MM MASCHOGAR D...,1,LIQUIDO CLORO CLORO MASCOTAS,BLEACH
500,RECKITT,VANISH,7501058789778BP1,VANISH EXT HIGIENE REM MANCHAS GAL 4LT + VANIS...,1,LIQUIDO SAFE BLEACH FABRIC TREATMENT ROSA,LIQUID & GEL
501,INDS. ALEN,CLORALEX,7501025412142,CLORALEX AROMAS BLANQUEADOR C/AROMA LAVANDA GA...,1,LIQUIDO CLORO CLORO NO DEFINIDO,BLEACH
502,CLOROX,CLOROX,7502240948188BP1,CLOROX BLANQ930M+MMBLANQINOD709M+MMFIBRAULTRA1...,1,LIQUIDO CLORO CLORO NO DEFINIDO,BLEACH

In [76]:
#Comprobamos match con los formatos creados
product_segment_df.loc[[33, 107]]

,MANUFACTURER,BRAND,ITEM,ITEM_DESCRIPTION,CATEGORY,FORMAT,SEGMENT
33,WHITE MAGIC,WHITE MAGIC,0079893431208,9WHITE MAGIC BOT.PLAS 3970ML IMP 0079893431208,1,LIQUIDO NO DEFINIDO CLORO NO DEFINIDO,BLEACH
107,INDS. ALEN,CLORALEX,7501025401023,CLORALEX EXTRA SENSACION FRUTALES BOT PLAST 95...,1,LIQUIDO NO DEFINIDO CLORO NO DEFINIDO,BLEACH

In [77]:
product_segment_df.loc[495]

MANUFACTURER                                                   IBERIA
BRAND                                                          IBERIA
ITEM                                                    8411660040503
ITEM_DESCRIPTION    9IBERIA BLANQUEADOR POLVO 250 GR IMP 841166004...
CATEGORY                                                            1
FORMAT                            POLVO NO DEFINIDO CLORO NO DEFINIDO
SEGMENT                                                        POWDER
Name: 495, dtype: object

### Product y Category

In [78]:
#Del dataframe resultante product_segment_df y category
category

   ID_CATEGORY                      CATEGORY
0            1  FABRIC TREATMENT and SANIT

1            2                     AIR CARE
2            3                  LAVAVAJILLAS
3            4              MEGA SUPERFICIES
4            5           LAVATORY CARE & BRC

In [80]:
product_cat_df=product_segment_df.merge(category.drop_duplicates(subset=['ID_CATEGORY']), left_on='CATEGORY', right_on='ID_CATEGORY', how='inner')

In [81]:
product_cat_df

,MANUFACTURER,BRAND,ITEM,ITEM_DESCRIPTION,CATEGORY_x,FORMAT,SEGMENT,ID_CATEGORY,CATEGORY_y
0,INDS. ALEN,CLORALEX,0000075000592,CLORALEX EL RENDIDOR BOT.PLAST. 250ML NAL. 000...,1,LIQUIDO CLORO CLORO NO DEFINIDO,BLEACH,1,FABRIC TREATMENT and SANIT
1,INDS. ALEN,CLORALEX,0000075000608,CLORALEX EL RENDIDOR BOT.PLAST. 500ML NAL. 000...,1,LIQUIDO CLORO CLORO NO DEFINIDO,BLEACH,1,FABRIC TREATMENT and SANIT
2,INDS. ALEN,CLORALEX,0000075000615,CLORALEX EL RENDIDOR BOT.PLAST. 950ML NAL. 000...,1,LIQUIDO CLORO CLORO NO DEFINIDO,BLEACH,1,FABRIC TREATMENT and SANIT
3,INDS. ALEN,CLORALEX,0000075000622,CLORALEX EL RENDIDOR BOT.PLAST. 2000ML NAL 000...,1,LIQUIDO CLORO CLORO NO DEFINIDO,BLEACH,1,FABRIC TREATMENT and SANIT
4,INDS. ALEN,CLORALEX,0000075000639,CLORALEX EL RENDIDOR BOT.PLAST. 3750ML NAL 000...,1,LIQUIDO CLORO CLORO NO DEFINIDO,BLEACH,1,FABRIC TREATMENT and SANIT
...,...,...,...,...,...,...,...,...,...
498,IBERIA,IBERIA,8411660210036,IBERIA REVOLUTION QUITA MANCHAS ACCIDENTALES B...,1,LIQUIDO SAFE BLEACH FABRIC TREATMENT PRE LAVADOR,PRETREAT,1,FABRIC TREATMENT and SANIT
499,JABONERA LA ESPUMA,BCLORHADA,7501681101305BP1,BCLORHADA MASC DET DES C/CLOR1L+MM MASCHOGAR D...,1,LIQUIDO CLORO CLORO MASCOTAS,BLEACH,1,FABRIC TREATMENT and SANIT
500,RECKITT,VANISH,7501058789778BP1,VANISH EXT HIGIENE REM MANCHAS GAL 4LT + VANIS...,1,LIQUIDO SAFE BLEACH FABRIC TREATMENT ROSA,LIQUID & GEL,1,FABRIC TREATMENT and SANIT
501,INDS. ALEN,CLORALEX,7501025412142,CLORALEX AROMAS BLANQUEADOR C/AROMA LAVANDA GA...,1,LIQUIDO CLORO CLORO NO DEFINIDO,BLEACH,1,FABRIC TREATMENT and SANIT
502,CLOROX,CLOROX,7502240948188BP1,CLOROX BLANQ930M+MMBLANQINOD709M+MMFIBRAULTRA1...,1,LIQUIDO CLORO CLORO NO DEFINIDO,BLEACH,1,FABRIC TREATMENT and SANIT

### Sales y Calendar

In [82]:
calendar.shape

(156, 5)

In [83]:
sales_sales_df.shape

(118860, 6)

In [84]:
filtro=calendar[['WEEK', 'DATE']]

In [85]:
filtro

      WEEK       DATE
0    01-21 2021-01-10
1    02-21 2021-01-17
2    03-21 2021-01-24
3    04-21 2021-01-31
4    05-21 2021-02-07
..     ...        ...
151  48-23 2023-12-04
152  49-23 2023-12-11
153  50-23 2023-12-18
154  51-23 2023-12-25
155  52-23 2024-01-01

[156 rows x 2 columns]

In [86]:
sales_calendar_df= sales_sales_df.merge(filtro.drop_duplicates(subset='WEEK'), on='WEEK', how='inner')

In [87]:
sales_calendar_df

,WEEK,ITEM_CODE,TOTAL_UNIT_SALES,TOTAL_VALUE_SALES,TOTAL_UNIT_AVG_WEEKLY_SALES,REGION,DATE
0,12-22,0000075000622,33.589,853.331,57.222,TOTAL AUTOS AREA 1,2022-03-27
1,15-22,7501025406578,0.961,37.045,12.321,TOTAL AUTOS AREA 1,2022-04-17
2,15-22,7501025412104,4.811,71.881,17.305,TOTAL AUTOS AREA 1,2022-04-17
3,35-22,7501071902093,0.109,6.538,2.946,TOTAL AUTOS AREA 1,2022-09-04
4,35-22,7501071903885,0.182,10.859,6.276,TOTAL AUTOS AREA 1,2022-09-04
...,...,...,...,...,...,...,...
118855,30-22,7501058715098,0.004,0.226,1.333,TOTAL AUTOS SCANNING MEXICO,2022-07-31
118856,30-22,7501058757890,8.995,798.900,4.373,TOTAL AUTOS SCANNING MEXICO,2022-07-31
118857,30-22,7501058716071,0.168,23.451,2.507,TOTAL AUTOS SCANNING MEXICO,2022-07-31
118858,30-22,7501058717030,33.374,726.785,24.594,TOTAL AUTOS SCANNING MEXICO,2022-07-31
118859,26-23,7501058784346,1.468,301.973,2.068,TOTAL AUTOS SCANNING MEXICO,2023-07-03

In [88]:
#Reorganizar columnas
sales_calendar_df=sales_calendar_df[['DATE', 'ITEM_CODE', 'TOTAL_UNIT_SALES',
                                    'TOTAL_VALUE_SALES', 'TOTAL_UNIT_AVG_WEEKLY_SALES', 'REGION']]

In [89]:
sales_calendar_df

,DATE,ITEM_CODE,TOTAL_UNIT_SALES,TOTAL_VALUE_SALES,TOTAL_UNIT_AVG_WEEKLY_SALES,REGION
0,2022-03-27,0000075000622,33.589,853.331,57.222,TOTAL AUTOS AREA 1
1,2022-04-17,7501025406578,0.961,37.045,12.321,TOTAL AUTOS AREA 1
2,2022-04-17,7501025412104,4.811,71.881,17.305,TOTAL AUTOS AREA 1
3,2022-09-04,7501071902093,0.109,6.538,2.946,TOTAL AUTOS AREA 1
4,2022-09-04,7501071903885,0.182,10.859,6.276,TOTAL AUTOS AREA 1
...,...,...,...,...,...,...
118855,2022-07-31,7501058715098,0.004,0.226,1.333,TOTAL AUTOS SCANNING MEXICO
118856,2022-07-31,7501058757890,8.995,798.900,4.373,TOTAL AUTOS SCANNING MEXICO
118857,2022-07-31,7501058716071,0.168,23.451,2.507,TOTAL AUTOS SCANNING MEXICO
118858,2022-07-31,7501058717030,33.374,726.785,24.594,TOTAL AUTOS SCANNING MEXICO
118859,2023-07-03,7501058784346,1.468,301.973,2.068,TOTAL AUTOS SCANNING MEXICO

### Sales y Product

In [90]:
product_cat_df

,MANUFACTURER,BRAND,ITEM,ITEM_DESCRIPTION,CATEGORY_x,FORMAT,SEGMENT,ID_CATEGORY,CATEGORY_y
0,INDS. ALEN,CLORALEX,0000075000592,CLORALEX EL RENDIDOR BOT.PLAST. 250ML NAL. 000...,1,LIQUIDO CLORO CLORO NO DEFINIDO,BLEACH,1,FABRIC TREATMENT and SANIT
1,INDS. ALEN,CLORALEX,0000075000608,CLORALEX EL RENDIDOR BOT.PLAST. 500ML NAL. 000...,1,LIQUIDO CLORO CLORO NO DEFINIDO,BLEACH,1,FABRIC TREATMENT and SANIT
2,INDS. ALEN,CLORALEX,0000075000615,CLORALEX EL RENDIDOR BOT.PLAST. 950ML NAL. 000...,1,LIQUIDO CLORO CLORO NO DEFINIDO,BLEACH,1,FABRIC TREATMENT and SANIT
3,INDS. ALEN,CLORALEX,0000075000622,CLORALEX EL RENDIDOR BOT.PLAST. 2000ML NAL 000...,1,LIQUIDO CLORO CLORO NO DEFINIDO,BLEACH,1,FABRIC TREATMENT and SANIT
4,INDS. ALEN,CLORALEX,0000075000639,CLORALEX EL RENDIDOR BOT.PLAST. 3750ML NAL 000...,1,LIQUIDO CLORO CLORO NO DEFINIDO,BLEACH,1,FABRIC TREATMENT and SANIT
...,...,...,...,...,...,...,...,...,...
498,IBERIA,IBERIA,8411660210036,IBERIA REVOLUTION QUITA MANCHAS ACCIDENTALES B...,1,LIQUIDO SAFE BLEACH FABRIC TREATMENT PRE LAVADOR,PRETREAT,1,FABRIC TREATMENT and SANIT
499,JABONERA LA ESPUMA,BCLORHADA,7501681101305BP1,BCLORHADA MASC DET DES C/CLOR1L+MM MASCHOGAR D...,1,LIQUIDO CLORO CLORO MASCOTAS,BLEACH,1,FABRIC TREATMENT and SANIT
500,RECKITT,VANISH,7501058789778BP1,VANISH EXT HIGIENE REM MANCHAS GAL 4LT + VANIS...,1,LIQUIDO SAFE BLEACH FABRIC TREATMENT ROSA,LIQUID & GEL,1,FABRIC TREATMENT and SANIT
501,INDS. ALEN,CLORALEX,7501025412142,CLORALEX AROMAS BLANQUEADOR C/AROMA LAVANDA GA...,1,LIQUIDO CLORO CLORO NO DEFINIDO,BLEACH,1,FABRIC TREATMENT and SANIT
502,CLOROX,CLOROX,7502240948188BP1,CLOROX BLANQ930M+MMBLANQINOD709M+MMFIBRAULTRA1...,1,LIQUIDO CLORO CLORO NO DEFINIDO,BLEACH,1,FABRIC TREATMENT and SANIT

In [91]:
filtro=product_cat_df[['MANUFACTURER', 'BRAND', 'ITEM', 'ITEM_DESCRIPTION', 'FORMAT', 'SEGMENT', 'CATEGORY_y']]

In [92]:
sales_product_df=sales_calendar_df.merge(filtro.drop_duplicates(subset=['ITEM']), left_on='ITEM_CODE', right_on='ITEM', how='inner')

In [93]:
sales_product_df

,DATE,ITEM_CODE,TOTAL_UNIT_SALES,TOTAL_VALUE_SALES,TOTAL_UNIT_AVG_WEEKLY_SALES,REGION,MANUFACTURER,BRAND,ITEM,ITEM_DESCRIPTION,FORMAT,SEGMENT,CATEGORY_y
0,2022-03-27,0000075000622,33.589,853.331,57.222,TOTAL AUTOS AREA 1,INDS. ALEN,CLORALEX,0000075000622,CLORALEX EL RENDIDOR BOT.PLAST. 2000ML NAL 000...,LIQUIDO CLORO CLORO NO DEFINIDO,BLEACH,FABRIC TREATMENT and SANIT
1,2022-04-17,7501025406578,0.961,37.045,12.321,TOTAL AUTOS AREA 1,INDS. ALEN,CLORALEX,7501025406578,CLORALEX AROMA CLORO LIQUIDO LAVANDA BP 3.75L ...,LIQUIDO CLORO CLORO NO DEFINIDO,BLEACH,FABRIC TREATMENT and SANIT
2,2022-04-17,7501025412104,4.811,71.881,17.305,TOTAL AUTOS AREA 1,INDS. ALEN,CLORALEX,7501025412104,CLORALEX AROMA CLORO LIQUIDO FLORAL BP 950ML 7...,LIQUIDO CLORO CLORO NO DEFINIDO,BLEACH,FABRIC TREATMENT and SANIT
3,2022-09-04,7501071902093,0.109,6.538,2.946,TOTAL AUTOS AREA 1,CLOROX,CLOROX,7501071902093,CLOROX ROPA COLOR BOT. 1800 ML 7501071902093,LIQUIDO SAFE BLEACH FABRIC TREATMENT PRE LAVADOR,PRETREAT,FABRIC TREATMENT and SANIT
4,2022-09-04,7501071903885,0.182,10.859,6.276,TOTAL AUTOS AREA 1,CLOROX,CLOROX,7501071903885,CLOROX ROPA COLOR ALEGRIA FLORAL BOTELLA 1890...,LIQUIDO SAFE BLEACH FABRIC TREATMENT PRE LAVADOR,PRETREAT,FABRIC TREATMENT and SANIT
...,...,...,...,...,...,...,...,...,...,...,...,...,...
118855,2022-07-31,7501058715098,0.004,0.226,1.333,TOTAL AUTOS SCANNING MEXICO,RECKITT,VANISH,7501058715098,VANISH OXI ACTION QUITA MANCHAS BOT 240GR 7501...,POLVO SAFE BLEACH FABRIC TREATMENT BLANCO,POWDER,FABRIC TREATMENT and SANIT
118856,2022-07-31,7501058757890,8.995,798.900,4.373,TOTAL AUTOS SCANNING MEXICO,RECKITT,VANISH,7501058757890,VANISH PODER O2 CRYSTAL WHITE BOTE 450 GR 750...,POLVO SAFE BLEACH FABRIC TREATMENT BLANCO,POWDER,FABRIC TREATMENT and SANIT
118857,2022-07-31,7501058716071,0.168,23.451,2.507,TOTAL AUTOS SCANNING MEXICO,RECKITT,VANISH,7501058716071,VANISH OXI ACTION CRISTAL WHITE QUITAMANCHAS P...,POLVO SAFE BLEACH FABRIC TREATMENT BLANCO,POWDER,FABRIC TREATMENT and SANIT
118858,2022-07-31,7501058717030,33.374,726.785,24.594,TOTAL AUTOS SCANNING MEXICO,RECKITT,VANISH,7501058717030,VANISH CRYSTAL WHITE QUITAMANCHAS GEL POUCH 45...,GEL SAFE BLEACH FABRIC TREATMENT BLANCO,LIQUID & GEL,FABRIC TREATMENT and SANIT
118859,2023-07-03,7501058784346,1.468,301.973,2.068,TOTAL AUTOS SCANNING MEXICO,RECKITT,VANISH,7501058784346,VANISH PODER 02 INTELLIGENCE POLVO BOT 900 GR ...,POLVO SAFE BLEACH FABRIC TREATMENT ROSA,POWDER,FABRIC TREATMENT and SANIT

In [94]:
df_orden=sales_product_df[['DATE', 'ITEM_CODE', 'ITEM_DESCRIPTION', 'MANUFACTURER',
                     'BRAND', 'FORMAT', 'SEGMENT', 'CATEGORY_y', 'TOTAL_UNIT_SALES', 'TOTAL_VALUE_SALES',
                     'TOTAL_UNIT_AVG_WEEKLY_SALES', 'REGION']]

In [95]:
df_renombrado=df_orden.rename(columns= {'CATEGORY_y': 'CATEGORY'})

In [96]:
df_renombrado.head(2)

,DATE,ITEM_CODE,ITEM_DESCRIPTION,MANUFACTURER,BRAND,FORMAT,SEGMENT,CATEGORY,TOTAL_UNIT_SALES,TOTAL_VALUE_SALES,TOTAL_UNIT_AVG_WEEKLY_SALES,REGION
0,2022-03-27,0000075000622,CLORALEX EL RENDIDOR BOT.PLAST. 2000ML NAL 000...,INDS. ALEN,CLORALEX,LIQUIDO CLORO CLORO NO DEFINIDO,BLEACH,FABRIC TREATMENT and SANIT,33.589,853.331,57.222,TOTAL AUTOS AREA 1
1,2022-04-17,7501025406578,CLORALEX AROMA CLORO LIQUIDO LAVANDA BP 3.75L ...,INDS. ALEN,CLORALEX,LIQUIDO CLORO CLORO NO DEFINIDO,BLEACH,FABRIC TREATMENT and SANIT,0.961,37.045,12.321,TOTAL AUTOS AREA 1

In [99]:
df=df_renombrado.sort_values('DATE', ascending=True)

In [100]:
df

,DATE,ITEM_CODE,ITEM_DESCRIPTION,MANUFACTURER,BRAND,FORMAT,SEGMENT,CATEGORY,TOTAL_UNIT_SALES,TOTAL_VALUE_SALES,TOTAL_UNIT_AVG_WEEKLY_SALES,REGION
41303,2022-01-09,0046500022517,SHOUT TRIPLE ACCION LAUNDRY STAIN REMOVER BOT ...,SC JOHNSON,SHOUT,LIQUIDO SAFE BLEACH FABRIC TREATMENT PRE LAVADOR,PRETREAT,FABRIC TREATMENT and SANIT,0.005,0.392,2.500,TOTAL AUTOS AREA 3
31959,2022-01-09,7501025405090,CLORALEX ULTRAGEL CLORO GEL CONCENTRADO BOT 60...,INDS. ALEN,CLORALEX,GEL CLORO CLORO MULTIUSOS,BLEACH,FABRIC TREATMENT and SANIT,31.526,434.637,47.194,TOTAL AUTOS AREA 2
31958,2022-01-09,7501025401801,CLORALEX ULTRAGEL CITRICO BOTELLA 600ML 750102...,INDS. ALEN,CLORALEX,GEL CLORO CLORO MULTIUSOS,BLEACH,FABRIC TREATMENT and SANIT,10.847,176.596,22.980,TOTAL AUTOS AREA 2
31957,2022-01-09,7501025405885,CLORALEX GEL ROPA BLANCA BP 950 ML 7501025405885,INDS. ALEN,CLORALEX,GEL CLORO CLORO MULTIUSOS,BLEACH,FABRIC TREATMENT and SANIT,0.462,11.445,3.757,TOTAL AUTOS AREA 2
31956,2022-01-09,7501025401894,CLORALEX PODER VINAGRE ULTRAGEL QUITAMANCHAS B...,INDS. ALEN,CLORALEX,GEL SAFE BLEACH FABRIC TREATMENT PRE LAVADOR,LIQUID & GEL,FABRIC TREATMENT and SANIT,0.396,11.620,3.701,TOTAL AUTOS AREA 2
...,...,...,...,...,...,...,...,...,...,...,...,...
87815,2023-07-17,7501058753458,VANISH PODER O2 CRYSTAL WHITE DOYPACK 120 GR 7...,RECKITT,VANISH,POLVO SAFE BLEACH FABRIC TREATMENT BLANCO,POWDER,FABRIC TREATMENT and SANIT,3.643,85.257,10.121,TOTAL AUTOS AREA 6
87814,2023-07-17,7501058792778BP2,VANISHOXIACTIONCRYSTALWHITEDOYPACK120GR+MMROSA...,RECKITT,VANISH,POLVO SAFE BLEACH FABRIC TREATMENT BLANCO,POWDER,FABRIC TREATMENT and SANIT,0.082,1.625,3.154,TOTAL AUTOS AREA 6
87813,2023-07-17,7501681100766,BANDERA CLORHADA CLORO CONCENTRADO SIN AROMA B...,JABONERA LA ESPUMA,BANDERA,LIQUIDO CLORO CLORO NO DEFINIDO,BLEACH,FABRIC TREATMENT and SANIT,1.262,43.562,6.746,TOTAL AUTOS AREA 6
87811,2023-07-17,7501681100384,B'CLORHADA CLORO EN GEL + DETERGENTE FLORAL BO...,JABONERA LA ESPUMA,BANDERA,GEL CLORO CLORO MULTIUSOS,BLEACH,FABRIC TREATMENT and SANIT,0.223,3.278,4.551,TOTAL AUTOS AREA 6
34150,2023-07-17,7501126570598,CLOROX BLANQUEADOR LIQ. BOT 500ML +MM PINZAS ...,CLOROX,CLOROX,LIQUIDO CLORO CLORO NO DEFINIDO,BLEACH,FABRIC TREATMENT and SANIT,0.002,0.256,2.000,TOTAL AUTOS AREA 2

In [101]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 118860 entries, 41303 to 34150
Data columns (total 12 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   DATE                         118860 non-null  datetime64[ns]
 1   ITEM_CODE                    118860 non-null  string
 2   ITEM_DESCRIPTION             118860 non-null  string
 3   MANUFACTURER                 118860 non-null  string
 4   BRAND                        118860 non-null  string
 5   FORMAT                       118860 non-null  object
 6   SEGMENT                      118860 non-null  object
 7   CATEGORY                     118860 non-null  string
 8   TOTAL_UNIT_SALES             118860 non-null  float64
 9   TOTAL_VALUE_SALES            118860 non-null  float64
 10  TOTAL_UNIT_AVG_WEEKLY_SALES  118860 non-null  float64
 11  REGION                       118860 non-null  string
dtypes: datetime64[ns](1), float64(3), object(2), string(6)
memory usage: 11.8+ MB

In [102]:
df['FORMAT']=df['FORMAT'].astype('string')
df['SEGMENT']=df['SEGMENT'].astype('string')

In [103]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 118860 entries, 41303 to 34150
Data columns (total 12 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   DATE                         118860 non-null  datetime64[ns]
 1   ITEM_CODE                    118860 non-null  string
 2   ITEM_DESCRIPTION             118860 non-null  string
 3   MANUFACTURER                 118860 non-null  string
 4   BRAND                        118860 non-null  string
 5   FORMAT                       118860 non-null  string
 6   SEGMENT                      118860 non-null  string
 7   CATEGORY                     118860 non-null  string
 8   TOTAL_UNIT_SALES             118860 non-null  float64
 9   TOTAL_VALUE_SALES            118860 non-null  float64
 10  TOTAL_UNIT_AVG_WEEKLY_SALES  118860 non-null  float64
 11  REGION                       118860 non-null  string
dtypes: datetime64[ns](1), float64(3), string(8)
memory usage: 11.8 MB

In [104]:
#Se reinicia el índice predeterminado
df_reset= df.reset_index(drop=True)

In [105]:
df_reset

,DATE,ITEM_CODE,ITEM_DESCRIPTION,MANUFACTURER,BRAND,FORMAT,SEGMENT,CATEGORY,TOTAL_UNIT_SALES,TOTAL_VALUE_SALES,TOTAL_UNIT_AVG_WEEKLY_SALES,REGION
0,2022-01-09,0046500022517,SHOUT TRIPLE ACCION LAUNDRY STAIN REMOVER BOT ...,SC JOHNSON,SHOUT,LIQUIDO SAFE BLEACH FABRIC TREATMENT PRE LAVADOR,PRETREAT,FABRIC TREATMENT and SANIT,0.005,0.392,2.500,TOTAL AUTOS AREA 3
1,2022-01-09,7501025405090,CLORALEX ULTRAGEL CLORO GEL CONCENTRADO BOT 60...,INDS. ALEN,CLORALEX,GEL CLORO CLORO MULTIUSOS,BLEACH,FABRIC TREATMENT and SANIT,31.526,434.637,47.194,TOTAL AUTOS AREA 2
2,2022-01-09,7501025401801,CLORALEX ULTRAGEL CITRICO BOTELLA 600ML 750102...,INDS. ALEN,CLORALEX,GEL CLORO CLORO MULTIUSOS,BLEACH,FABRIC TREATMENT and SANIT,10.847,176.596,22.980,TOTAL AUTOS AREA 2
3,2022-01-09,7501025405885,CLORALEX GEL ROPA BLANCA BP 950 ML 7501025405885,INDS. ALEN,CLORALEX,GEL CLORO CLORO MULTIUSOS,BLEACH,FABRIC TREATMENT and SANIT,0.462,11.445,3.757,TOTAL AUTOS AREA 2
4,2022-01-09,7501025401894,CLORALEX PODER VINAGRE ULTRAGEL QUITAMANCHAS B...,INDS. ALEN,CLORALEX,GEL SAFE BLEACH FABRIC TREATMENT PRE LAVADOR,LIQUID & GEL,FABRIC TREATMENT and SANIT,0.396,11.620,3.701,TOTAL AUTOS AREA 2
...,...,...,...,...,...,...,...,...,...,...,...,...
118855,2023-07-17,7501058753458,VANISH PODER O2 CRYSTAL WHITE DOYPACK 120 GR 7...,RECKITT,VANISH,POLVO SAFE BLEACH FABRIC TREATMENT BLANCO,POWDER,FABRIC TREATMENT and SANIT,3.643,85.257,10.121,TOTAL AUTOS AREA 6
118856,2023-07-17,7501058792778BP2,VANISHOXIACTIONCRYSTALWHITEDOYPACK120GR+MMROSA...,RECKITT,VANISH,POLVO SAFE BLEACH FABRIC TREATMENT BLANCO,POWDER,FABRIC TREATMENT and SANIT,0.082,1.625,3.154,TOTAL AUTOS AREA 6
118857,2023-07-17,7501681100766,BANDERA CLORHADA CLORO CONCENTRADO SIN AROMA B...,JABONERA LA ESPUMA,BANDERA,LIQUIDO CLORO CLORO NO DEFINIDO,BLEACH,FABRIC TREATMENT and SANIT,1.262,43.562,6.746,TOTAL AUTOS AREA 6
118858,2023-07-17,7501681100384,B'CLORHADA CLORO EN GEL + DETERGENTE FLORAL BO...,JABONERA LA ESPUMA,BANDERA,GEL CLORO CLORO MULTIUSOS,BLEACH,FABRIC TREATMENT and SANIT,0.223,3.278,4.551,TOTAL AUTOS AREA 6
118859,2023-07-17,7501126570598,CLOROX BLANQUEADOR LIQ. BOT 500ML +MM PINZAS ...,CLOROX,CLOROX,LIQUIDO CLORO CLORO NO DEFINIDO,BLEACH,FABRIC TREATMENT and SANIT,0.002,0.256,2.000,TOTAL AUTOS AREA 2

In [108]:
# Se guarda el dataframe como archivo .csv
df_reset.to_csv('Entregable_3.csv', index=True)